@model IEnumerable<EntityClass.User_detail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered">
    <tr class="bg-primary" style="color:#ffffff;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Name)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.User_Name }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
