@{
    ViewBag.Title = "Invoice Print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<a href="../Reports/PrintInvoice.aspx" class="btn btn-primary" >Invoice Report</a>
<a href="../Reports/DataWiseInvoiceList.aspx" class="btn btn-primary">PartyWise/DateWise InvoiceList</a>
<a href="../Reports/MonthlySummary.aspx" class="btn btn-primary">Datewise Itemwise Summary between two dates</a>
<a href="../Reports/ItemwiseSummary.aspx" class="btn btn-primary">Item Summary between two dates</a>



