
@{
    ViewBag.Title = "PartyWiseDateWise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="text-align:center;font-family:'Arial Rounded MT'">Party Wise Date Wise</h2>
<br />
<div style="border: 1px solid #1945d7; border-radius: 2px 2px 2px 2px; padding:2px; overflow-wrap:break-word;width:80%;margin:auto;">

    <div class="row">
        <div class="col-md-12" style="margin:10px;">
            <div class="form-group">


                <div style="width:150px;float:left;">
                    <label>Consingnee Name</label>

                </div>
                <div style="width:410px;float:left;">

                    <select id="Consignee_ID" class="form-control" style="width: 400px;">
                        <option value="">Select</option>
                        @foreach (var item in ViewBag.CL)
                        {
                            <option value=@item.Consignee_ID>@item.Consignee_Name</option>

                        }
                    </select>
                </div>
                <div style="width:100px;float:left;">
                    <label>From Date</label>

                </div>
                <div style="width:170px;float:left;">
                    <input type="date" id="FromDate"  value=@ViewBag.DTF/>
                </div>
                <div style="width:75px;float:left;">
                    <label>To Date</label>

                </div>
                <div style="width: 100px; float: left;">
                    <input type="date" id="ToDate"  value=@ViewBag.DTT />
                </div>



            </div>

        </div>




        <div class="form-group" style="width:60%;float:right;margin:10px;">
            <br />
            <br />
            <button type="button" class="btn btn-primary" id="ViewReport">View Report</button>
        </div>

    </div>
    </div>
    <script type="text/javascript" src="~/Scripts/jquery-3.6.0.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#ViewReport").click(function () {
                var consignee_id = $("#Consignee_ID").val();
                var fromdate = $("#FromDate").val();
                var todate = $("#ToDate").val();
                $.get("../Report/PartyWiseDateWise", { consignee_id: consignee_id, fromdate: fromdate, todate: todate }, function (data) {
                    window.location.replace("/Reports/DataWiseInvoiceList.aspx");
                });
            });
        });
    </script>
