
@{
    ViewBag.Title = "DataBase Backup Processed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DataBase Backup Processed Successfully</h2>
<div>
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary" })
</div>

