
@{
    ViewBag.Title = "DataBase Backup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DataBase Backup</h2>

<p>
    @Html.ActionLink("DataBase Backup", "Create", "", new { @class = "btn btn-primary", @style = "width:75px;" })
</p>

